{
    "root_folder": "{{ agents_fim_testing_path }}",
    "recursion_level": 4,
    "folder_length": 5,
    "file_length": 5,
    "file_size_specifications":[
        { "size": 10240, "amount": 10000},
        { "size": 524288, "amount": 5000},
        { "size": 1048576, "amount": 500},
        { "size": 10485760, "amount": 100}
    ]
}
