Vagrant.configure("2") do |config|
    config.vm.box = "{{ config.box }}"
    config.vm.box_version = "{{ config.box_version }}"
    config.vm.define "{{ config.id }}"
    config.vm.provision "file", source: "{{ credential }}", destination: ".ssh/authorized_keys"
    config.vm.network "private_network", ip:"{{ config.ip }}"
    config.vm.provider "virtualbox" do |v|
        v.memory = {{ config.memory }}
        v.cpus = {{ config.cpu }}
    end
end
