{
  "name": "development",
  "description": "The development environment",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {
  },
  "override_attributes": {
    "ossec": {
      "registration_address": "manager-master.wazuh-test.com",
      "address": ["manager-master.wazuh-test.com"]
    }
  }
}
