{% if ansible_os_family in ['Debian'] %}
- name: Install the {{ component }}
  command: "apt-get -y install {{ component }}"
{% endif %}

{% if ansible_os_family in ['RedHat', 'OracleLinux', 'Amazon'] %}
- name: Install the {{ component }}
  command: "yum -y install {{ component }}"
{% endif %}

{% if ansible_os_family in ['SUSE'] %}
- name: Install the {{ component }}
  command: "zypper -n install {{ component }}"
{% endif %}
