# Copyright (C) 2015, Wazuh Inc.
# Created by Wazuh, Inc. <info@wazuh.com>.
# This program is a free software; you can redistribute it and/or modify it under the terms of GPLv2

{% if component == 'wazuh-agent' %}
- name: Modify Wazuh manager IP in Wazuh agent
  replace:
    path: "/var/ossec/etc/ossec.conf"
    regexp: "MANAGER_IP"
    replace: {{ dependencies['manager'] }}
{% endif %}
