# Common requirements
-r requirements/common.txt

# Integration requirements
-r requirements/integration.txt

# System requirements
-r requirements/system.txt

# Scan requirements
-r requirements/scan.txt

# Tools requirements
-r requirements/tools.txt

# Checkfiles requirements
-r requirements/checkfiles.txt

# Performance requirements
-r requirements/performance.txt

# Reliability requirements
-r requirements/reliability.txt