
- name: Install {{ component }}
  apt:
    name: {{ component }}
    state: present
  when: ansible_os_family == "Debian"

- name: Install {{ component }}
  yum:
    name: {{ component }}
    state: present
  when: ansible_os_family == "RedHat"
