Vagrant.configure("2") do |config|
    config.vm.box = "{{ config.box }}"
    config.vm.network :private_network, type: "dhcp"
    config.vm.network "forwarded_port", guest: 22, host: "{{ config.port }}", host_ip: "{{ config.ip }}"

    config.vm.synced_folder ".", "/vagrant", disabled: true

    config.vm.provider "virtualbox" do |vb|
        vb.name = "{{ config.name }}"
        vb.customize ["setextradata", :id, "VBoxInternal/Devices/VMMDev/0/Config/GetHostTimeDisabled", 1]
        vb.memory = "4096"
        vb.cpus = "2"
    end
end
