Vagrant.configure("2") do |config|
    # Box image settings
    config.vm.box = "{{ config.box }}"

    # VirtualBox specific settings
    config.vm.provider "parallels" do |v|
        v.memory = "4096"
        v.cpus = "2"
        v.name = "{{ config.name }}"
        v.linked_clone = false
    end

    # Network settings
    config.ssh.forward_agent = true
    config.vm.synced_folder ".", "/vagrant", disabled: true
end
