- name: Enable and start {{ component }} service
  command: "{{ item }}"
  with_items:
    - "systemctl daemon-reload"
    - "systemctl enable {{ component }}"
    - "systemctl start {{ component }}"
