{
  "name": "development-master",
  "description": "The development environment",
  "cookbook_versions": {
  },
  "json_class": "Chef::Environment",
  "chef_type": "environment",
  "default_attributes": {

  },
  "override_attributes": {
    "ossec": {
      "registration_address": "MANAGER_IP",
      "address": ["MANAGER_IP", "MANAGER_IP"],
      "cluster_disabled": "no",
      "conf": {
        "server": {
          "cluster": {
            "node_name": "node01",
            "node_type": "master",
            "disabled": "no",
            "nodes": {
              "node": ["MANAGER_IP", ""]
            },
            "key": "596f6b328c8ca831a03f7c7ca8203e8b"
          }
        }
      }
    },
    "filebeat": {
      "ossec_type": "ossec-alerts-development",
      "logstash_servers": "elk.wazuh-test.com:5000"
    }
  }
}
