- hosts: all
  become: true
  tasks:
    - name: Install packages
      command: apt-get -y install gnupg apt-transport-https

    - name: Install GPG key
      shell: "curl -s https://packages.wazuh.com/key/GPG-KEY-WAZUH | gpg --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/wazuh.gpg --import && chmod 644 /usr/share/keyrings/wazuh.gpg"

    - name: Add Wazuh repository
      shell: "echo \"deb [signed-by=/usr/share/keyrings/wazuh.gpg] https://packages.wazuh.com/4.x/apt/ stable main\" | tee -a /etc/apt/sources.list.d/wazuh.list"

    - name: Update package information
      command: "apt-get update"
