[{
    "ParameterKey": "EnvironmentType",
    "ParameterValue": "{{ packages_repository }}"
},
{
    "ParameterKey": "ElasticWazuhVersion",
    "ParameterValue": "{{ elastic_wazuh_version }}"
},
{
    "ParameterKey": "WazuhInstanceType",
    "ParameterValue": "{{ wazuh_instance_type }}"
},
{
    "ParameterKey": "ElasticInstanceType",
    "ParameterValue": "{{ elastic_instance_type }}"
},
{
    "ParameterKey": "KibanaInstanceType",
    "ParameterValue": "{{ kibana_instance_type }}"
},
{
    "ParameterKey": "SshUsername",
    "ParameterValue": "{{ ssh_username }}"
},
{
    "ParameterKey": "SshPassword",
    "ParameterValue": "{{ ssh_password }}"
},
{
    "ParameterKey": "WazuhServerPort",
    "ParameterValue": "{{ wazuh_server_port }}"
},
{
    "ParameterKey": "WazuhRegistrationPort",
    "ParameterValue": "{{ wazuh_registration_port }}"
},
{
    "ParameterKey": "WazuhRegistrationPassword",
    "ParameterValue": "{{ wazuh_registration_password }}"
},
{
    "ParameterKey": "WazuhApiPort",
    "ParameterValue": "{{ wazuh_api_port }}"
},
{
    "ParameterKey": "WazuhApiAdminUsername",
    "ParameterValue": "{{ wazuh_api_admin_username }}"
},
{
    "ParameterKey": "WazuhApiAdminPassword",
    "ParameterValue": "{{ wazuh_api_password }}"
},
{
    "ParameterKey": "KeyPairName",
    "ParameterValue": "{{ key_pair_name }}"
},
{
    "ParameterKey": "AvailabilityZone",
    "ParameterValue": "{{ availability_zone }}"
},
{
    "ParameterKey": "SSLCertificateARN",
    "ParameterValue": "{{ ssl_certificate_arn }}"
}
]