[masters]
{% for instance in instances_query_list %}
{% if 'master' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}
{% endif %}
{% endfor %}
[masters:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[workers]
{% for instance in instances_query_list %}
{% if 'worker' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}
{% endif %}
{% endfor %}
[workers:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[linux-agents]
{% for instance in instances_query_list %}
{% if 'agent_linux' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 -%}
{% if 'debian' in instance.0.Name|lower %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}    ansible_ssh_user=admin  agent_name={{ instance.0.Name}}
{% elif 'ubuntu' in instance.0.Name|lower %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}    ansible_ssh_user=ubuntu agent_name={{ instance.0.Name}}
{% elif 'centos' in instance.0.Name|lower %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}    ansible_ssh_user=centos agent_name={{ instance.0.Name}}
{% else %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}    agent_name={{ instance.0.Name}}
{% endif %}
{% endif %}
{% endfor %}
[linux-agents:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[windows-agents]
{% for instance in instances_query_list %}
{% if 'agent_windows' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}    agent_name={{ instance.0.Name}}
{% endif %}
{% endfor %}
[windows-agents:vars]
ansible_ssh_user={{ windows_user }}
ansible_ssh_pass={{ windows_password }}
ansible_ssh_port=5986
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore

[kibana]
{% for instance in instances_query_list %}
{% if 'kibana' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}
{% endif %}
{% endfor %}
[kibana:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[elasticsearch]
{% for instance in instances_query_list %}
{% if 'elastic' in instance.0.Identifier|lower and instance.0.PrivateIP | length > 0 %}
{{ instance.0.PublicIP }}   private_ip={{ instance.0.PrivateIP}}
{% endif %}
{% endfor %}
[elasticsearch:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[rhel]
{% if rhel_agent_endpoint is defined and rhel_agent_endpoint | length > 0 %}
{{ rhel_agent_endpoint.0 }}
{% endif %}
[rhel:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file={{ ssh_key_path_private }}
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

[windows]
{% if windows_agent_endpoint is defined and windows_agent_endpoint | length > 0%}
{{ windows_agent_endpoint.0 }}
{% endif %}
[windows:vars]
ansible_ssh_user={{ windows_user }}
ansible_ssh_pass={{ windows_password }}
ansible_ssh_port=5986
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore