{% if ansible_os_family.lower() in ['debian'] %}
- name: Update apt cache
  shell: apt-get update

- name: Install {{ component }}
  shell: 
    apt-get install -y {{ component }}
{% endif %}

{% if ansible_os_family.lower() in ['redhat'] %}
- name: Install EPEL repository
  shell: |
    yum update -y
    yum install -y epel-release
{% endif %}

{% if ansible_os_family.lower() in ['redhat', 'oraclelinux', 'amazon', 'centos'] %}
- name: Install {{ component }}
  shell: yum install -y {{ component }}
{% endif %}

{% if ansible_os_family.lower() in ['suse'] %}
- name: Update zypper cache
  command: "zypper -n ref"
- name: Install the {{ component }}
  command: "zypper -n install {{ component }}"
{% endif %}
