{% if ansible_os_family == 'Debian' %}
- name: Install {{ component }}
  shell: apt-get install -y {{ component }}
{% endif %}

{% if ansible_os_family in ['RedHat', 'OracleLinux'] %}
- name: Install {{ component }}
  shell: yum install -y {{ component }}
{% endif %}