node 'manager_platform' {
  class { "wazuh::manager":}
}
node 'agent_platform' {
  class { "wazuh::agent":
        wazuh_register_endpoint => "manager_ip",
        wazuh_reporting_endpoint => "manager_ip",
  }
}