lockfile==0.12.2
testinfra==6.0.0
filetype==1.0.7
requests==2.25.1
pyOpenSSL==20.0.1
pycryptodome==3.9.9
configobj==5.0.6
psutil==5.8.0
PyYAML==5.4.1
jq==1.1.2
google==3.0.0
google-api-core==1.25.1
google-api-python-client==1.12.8
google-auth==1.25.0
google-auth-httplib2==0.0.4
google-cloud==0.34.0
google-cloud-pubsub==2.2.0
googleapis-common-protos==1.52.0
grpc-google-iam-v1==0.12.3
freezegun==1.1.0
jsonschema==3.2.0
paramiko==2.7.2
distro==1.5.0
WMI==1.4.9
pytest==6.2.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-testinfra==6.1.0
python-dateutil==2.8.1