- hosts: all
  become: true
  tasks:
    - name: Clone tests into the endpoint
      block:
      - name: Create test directory
        file:
          path: "{{ working_dir }}"
          state: directory
      - name: Copy files to endpoints
        copy:
          src: "{{ local_path }}/"
          dest: "{{ working_dir }}"
