- hosts: all
  become: true
  tasks:

    - name: Update package lists
      become_user: root
      command: "apt-get update"

    - name: Install pip 
      become_user: root
      command: "apt-get install python3-pip -y"

    - name: Clone tests into the endpoint
      block:
        - name: Create test directory
          file:
            path: "{{ working_dir }}"
            state: directory

        - name: Copy files to endpoints
          copy:
            src: "{{ local_path }}/"
            dest: "{{ working_dir }}"

        - name: Copy deps requirements
          copy:
            src: "../../../deps/remote_requirements.txt"
            dest: "{{ working_dir }}"

        - name: Install dependencies using pip3
          become_user: root
          command: "pip3 install -r {{ working_dir }}/remote_requirements.txt"
