[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker-py = "*"
ansible = "==2.7.13"
molecule = "==2.22"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
test ="molecule test"
worker ="molecule test -s worker"
agent ="molecule test -s wazuh-agent"
elasticsearch ="molecule test -s elasticsearch"
elasticsearch-xpack ="molecule test -s elasticsearch-xpack"
kibana ="molecule test -s kibana"

# Verify ..
verify ="molecule verify"
verify_worker ="molecule verify -s worker"
verify_agent ="molecule verify -s agent"
verify_elasticsearch ="molecule verify -s elasticsearch"
verify_elasticsearch_xpack ="molecule verify -s elasticsearch-xpack"
verify_kibana ="molecule verify -s kibana"

# Destroy ..
destroy ="molecule destroy"
destroy_worker ="molecule destroy -s worker"
destroy_agent ="molecule destroy -s agent"
destroy_elasticsearch ="molecule destroy -s elasticsearch"
destroy_elasticsearch_xpack ="molecule destroy -s elasticsearch-xpack"
destroy_kibana ="molecule destroy -s kibana"
destroy_all ="molecule destroy --all"
