{% if ansible_os_family == 'Debian' %}
- name: Uninstall {{ component }}
  apt:
    name: {{ component }}
    state: absent
{% endif %}

{% if ansible_os_family == 'RedHat' %}
- name: Uninstall {{ component }}
  yum:
    name: {{ component }}
    state: absent
{% endif %}